<section id="products" class="py-5 d-block">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2>Ürünler</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>
                    EVRAKA Arşiv
                </h3>
                <p>
                    Kurumların belge faaliyetlerinin standart dosya planına göre tasnif/tasfiye/imha süreçlerinin yönetildiği araçtır.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    EVRAKA Şablon Tasarımı
                </h3>
                <p>
                    EVRAKA Şablon sürükle bırak yöntemiyle hızlı ve kolayca PDF ve HTML formatında belgeler tasarlanıp üretilebilmesini
                    sağlayan güçlü bir belge tasarım ve belge üretme aracıdır.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    EVRAKA E-imza
                </h3>
                <p>
                    EVRAKA E-imza, Cades, Pades, Xades tipinde uzun süre geçerli, zaman damgalı, ETSI Standartları yanı sıra, BTK (Bilgi
                    Teknolojileri Kurumu) ve TUBİTAK KamuSM (Kamu Sertifikasyon Merkezi) tarafından belirlenen standartlara uygun elektronik
                    imza atılmasını sağlayan bir araçtır.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>
                    İş Zekası
                </h3>
                <p>
                    Kurum ihtiyaçlarına göre sürükle-bırak yöntemi ile geliştirme ihtiyacı duymaksızın hızlı ve kolayca istenilen raporların
                    zengin grafik arayüzü üzerinden üretilmesini sağlayan bir araçtır.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    EVRAKA E-Yazışma
                </h3>
                <p>
                    EVRAKA E-Yazışma web tabanlı olarak e-Yazışma Teknik Rehberi’nin tüm versiyonlarının isterlerini karşılamakta kurumlar
                    arası doküman ve belge aktarım standardı olan Elektronik Yazışma Paketi (eyp) yapısının uçtan uca yönetilmesini
                    sağlamaktadır.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    OCR
                </h3>
                <p>
                    EVRAKA Ocr taranan belgelerin optik tanımlamasının yapılarak bu belgelerdeki metinlerin çıkarılmasını sağlayan servisler
                    içeren EVRAKA modülüdür.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    EVRAKA Kripto
                </h3>
                <p>
                    EVRAKA Crypto, açık anahtar altyapısını kullanarak, HSM (Hardware Security Module), Akıllıkart gibi PKCS#11 standardını
                    destekleyen cihazlar üzerinden, şifreleme sertifikalarıyla; şifreleme (encryption), şifre çözme (decryption), şifreli
                    veriye alıcı ekleme,imzalama sertifikalarıyla;elektronik imzalama,işlemlerini gerçekleştiren micro service yapısında bir
                    araçtır.
                </p>
            </div>
        </div>
    </div>
    </div>
</section>

<section id="features" class="py-5 d-block" style="background-color: #f8fafc;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <h2>Ürün Özellikleri</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>
                    Dinamik Süreçler
                </h3>
                <p>
                    Kurumların belge süreçlerini, belge tipi, birim ve mesai saatlerine göre dinamik olarak tasarlayıp yönetmesini sağlar.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    Şablon Tasarımı
                </h3>
                <p>
                    Kurumların farklı belge tiplerini mevzuatlara uygun olarak tasarım aracı ile tasarlayabilmeyi sağlar.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    Satış Sonrası Güçlü Destek
                </h3>
                <p>
                    Yerinde ve uzaktan, istenirse 7/24 uygulama kullanımını destekleyecek kullanıcı ve teknik destek sağlar.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>
                    Dinamik Üst Veri
                </h3>
                <p>
                    Belge tipine göre kurum ihtiyaçları doğrultusunda yeni belge üst verileri tanımlanmasına izin veririr.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    Yerinde ve Bulut Üzerinde Çalışma
                </h3>
                <p>
                    İhtiyaçlar doğrultusunda kurum ortamında ya da bulut ortamında hizmet verebilir.
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    Dinamik Raporlama
                </h3>
                <p>
                    Kurum ihtiyaçlarına göre sürükle-bırak yöntemi ile istenilen raporlar yazılım geliştirme ihtiyacı duymadan hazırlanır.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <ul class="list-group list-group-flush">
        
                    <li class="list-group-item" style="background-color: transparent;">Bilgi yönetimine katkı</li>
        
                    <li class="list-group-item" style="background-color: transparent;">Güçlü altyapı</li>
        
                    <li class="list-group-item" style="background-color: transparent;">Bağımsız veritabanı</li>
        
                    <li class="list-group-item" style="background-color: transparent;">Kurumsal hafıza birikimine katkı</li>
        
                    <li class="list-group-item" style="background-color: transparent;">Standartlara ve yönergelere uyum
                        (TS13298, Askeri Yönergeler, Resmi Yazışmalar, E-İmza)</li>
        
                    <li class="list-group-item" style="background-color: transparent;">İş akışı ile onay süreçlerini izleme</li>
        
                    <li class="list-group-item" style="background-color: transparent;">E-yazışma ile kurumlar arası belge
                        alışverişi</li>
        
                </ul>
            </div>
        
            <div class="col-12 col-lg-6 text-center text-lg-left">
                <ul class="list-group list-group-flush">
        
                    <li class="list-group-item" style="background-color: transparent;">Belgeye hızlı erişim</li>
        
                    <li class="list-group-item" style="background-color: transparent;">Süreçlerin standartlaşması ve
                        kurumsallaşma</li>
        
                    <li class="list-group-item" style="background-color: transparent;">Mobil olarak belge imzalama</li>
        
                    <li class="list-group-item" style="background-color: transparent;">Arşivleme Sürüm Kontrolü ile
                        değişiklikleri izleme</li>
        
                    <li class="list-group-item" style="background-color: transparent;">Yetki yönetimi, E-İmza, şifreleme ve
                        loglama ile güvenli belge yönetimi</li>
        
                    <li class="list-group-item" style="background-color: transparent;">Fiziksel arşivin elektronik ortama
                        aktarımı</li>
        
                    <li class="list-group-item" style="background-color: transparent;">Güçlü entegrasyon desteği</li>
        
                    <li class="list-group-item" style="background-color: transparent;">Mevzuat ve Yönergelere Uygunluk</li>
        
                </ul>
            </div>
        
        </div>
        </div>
    </div>
</section>

