{{- $policies := .Site.Params.section_policies.features }}
<section id="policies">
    <div class="container-fluid">
        <div class="row info">
            <div class="container py-5">
                <div class="row" data-aos="zoom-in">
                    <div class="col-12 col-lg-2 text-center text-lg-left">
                        <img src="/images/captain.svg" class="img-fluid" />
                    </div>
                    <div class="col-12 justify-content-end col-lg-10 d-flex flex-column">
                        <h2>Bu bilgi dikkatinizi çekebilir?</h2>
                        <p>Politikalar XML formatında politikalardan oluşurlar, istemciye Kaptan aracılığıyla gönderilip
                            kontrolü sağlanır. Kaptan üzerindeki yapı ise Liman üzerinden yapılır.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-5">
            <div class="container">
                <div class="row">
                    {{- range $policies }}
                    <div class="col-12 col-lg-4 text-center text-lg-left">
                        <ul class="list-group list-group-flush">
                            {{ range .list }}
                            <li class="list-group-item">{{ .li }}</li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>