<section class="pricing py-5" style="margin-bottom: 0">
  <div class="container" style="max-width: 1450px">
    <div class="row egitim-row">
      <div class="col-12 text-center mb-4">
        <h2>Paketler</h2>
        <p style="font-size: 20px; font-weight: 600"><strong style="color: #f44">İlk 5</strong> başvuruya <strong style="color: #f44">%25</strong> indirim</p>
        <p style="color: #64748b">Dilerseniz HAVELSAN tarafından
          geliştirilmiş olan geniş kapsamlı paketleri edinebilir veya çekirdek paketimizi ücretsiz indirerek eklenti
          mağazamızdaki
          ücretsiz eklentileri kullanabilir,
          dokümanlarımızı kullanarak kendi eklentilerinizi geliştirebilirsiniz.</p>
      </div>
      <div class="col-lg-3">
        <div class="card h-100 mb-5 mb-lg-0"
          style="border: 2px rgba(0,0,50,0.1) solid; box-shadow: 0 0.5rem 1rem rgba(0,0,50,0.1);">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center" style="color: rgba(0,0,50,0.8); margin-bottom: 50px;">Çekirdek Lisans</h5>
            <h6 class="card-price text-center">Ücretsiz<span class="period"
                style="width: 100%;display: block;color: #a6a6a6;">-</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Çekirdek Lisans</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>500 istemci desteği (artırılabilir)</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Kurulum Hizmetleri</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Destek Hizmeti</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Domain ve Politikalar Eklentisi</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Envanter Eklentisi</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Yedeklilik</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Güvenli Ağ (802.1x –
                EAP/TLS)</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Merkezi Yapılandırma
                Eklentisi</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Ağ Yönetim ve İzleme
                Eklentisi</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Veritabanı Yönetim Eklentisi
              </li>
            </ul>
            <div class="d-grid">
              <a href="https://docs.liman.dev/baslangic/kurulum" target="_blank" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4">İndir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0"
          style="border: 2px rgba(205,127,50,0.2) solid; box-shadow: 0 0.5rem 1rem rgba(205,127,50,0.3);">
          <div class="card-body">
            <div class="ribbon text-center">25%<br>İndirim</div>
            <h5 class="card-title text-uppercase text-center" style="color: #CD7F32;">Bronz</h5>
            <h6 class="card-price text-center"><span style="text-decoration: line-through; font-size: 16px;">₺000.000</span><br>₺000.000<span class="period"
                style="width: 100%;display: block;color: #a6a6a6;">başlangıç fiyatı</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Çekirdek Lisans</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>500 istemci desteği (artırılabilir)</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Kurulum Hizmetleri</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Destek Hizmeti</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Domain ve Politikalar Eklentisi</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Envanter Eklentisi</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Yedeklilik</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Güvenli Ağ (802.1x –
                EAP/TLS)</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Merkezi Yapılandırma
                Eklentisi</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Ağ Yönetim ve İzleme
                Eklentisi</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Veritabanı Yönetim Eklentisi
              </li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">Satın al</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card mb-5 mb-lg-0"
          style="border: 2px rgba(0, 0, 0 ,0.2) solid;box-shadow: 0 0.5rem 1rem rgba(0, 0, 0 ,0.3);">
          <div class="card-body">
            <div class="ribbon text-center">25%<br>İndirim</div>
            <h5 class="card-title text-muted text-uppercase text-center">Gümüş</h5>
            <h6 class="card-price text-center"><span style="text-decoration: line-through; font-size: 16px;">₺000.000</span><br>₺000.000<span class="period"
                style="width: 100%;display: block;color: #a6a6a6;">başlangıç fiyatı</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Çekirdek Lisans</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>500 istemci desteği (artırılabilir)</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Kurulum Hizmetleri</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Destek Hizmeti</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Domain ve Politikalar Eklentisi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Envanter Eklentisi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Yedeklilik</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Güvenli Ağ (802.1x – EAP/TLS)</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Merkezi Yapılandırma
                Eklentisi</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Ağ Yönetim ve İzleme
                Eklentisi</li>
              <li class="text-muted"><span class="fa-li" style="color: red;"><i class="fas fa-times"></i></span>Veritabanı Yönetim Eklentisi
              </li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">Satın al</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card" style="border: 2px rgba(255,215,0,0.3) solid; box-shadow: 0 0.5rem 1rem rgba(255,215,0,0.2);">
          <div class="card-body">
            <div class="ribbon text-center">25%<br>İndirim</div>
            <h5 class="card-title text-uppercase text-center" style="color: #FFD700">Altın</h5>
            <h6 class="card-price text-center"><span style="text-decoration: line-through; font-size: 16px;">₺000.000</span><br>₺000.000<span class="period"
                style="width: 100%;display: block;color: #a6a6a6;">başlangıç fiyatı</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Çekirdek Lisans</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>500 istemci desteği (artırılabilir)</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Kurulum Hizmetleri</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Destek Hizmeti</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Domain ve Politikalar Eklentisi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Envanter Eklentisi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Yedeklilik</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Güvenli Ağ (802.1x – EAP/TLS)</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Merkezi Yapılandırma Eklentisi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Ağ Yönetim ve İzleme Eklentisi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Veritabanı Yönetim Eklentisi</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">Satın al</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLongTitle">EVRAKA EBYS Satış Formu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <style>
          .form-group>label {
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.7);
          }

          .form-control {
            border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
          }
        </style>
        <div id="uyari"></div>
        <form id="contact" action method="post">
          <div class="form-group">
            <label for="kurum-adi">Kurum Adı</label>
            <input name="kurum-adi" type="text" class="form-control" id="kurum-adi">
          </div>
          <div class="form-group">
            <label for="name">İletişim kurulacak kişinin adı ve soyadı</label>
            <input name="name" type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email">E-posta adresi</label>
            <input name="email" type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="telefon">Telefon</label>
            <input name="telefon" type="text" class="form-control" id="telefon">
          </div>
          <div class="form-group">
            <label for="paket">İstenen Paket</label>
            <textarea class="form-control" id="paket" name="paket" rows="3"></textarea>
          </div>
          <small>
            Bu iletişim formu reCAPTCHA from Google ile korunmaktadır.<br>
            <a href="https://policies.google.com/privacy">Gizlilik Politikası</a>
            <a href="https://policies.google.com/terms">Hizmet Koşulları</a></small> <br> <br>
          <button type="submit" id="contactButton" class="btn btn-primary">Gönder</button>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  section.pricing .card {
    overflow: hidden;
  }
  .ribbon {
    position: absolute;
    display: inline-block;
    top: 0.3em;
    right: 0.8em;
    max-width: 5em;
    color: #fff;
    z-index: 1;
  }

  .ribbon::after {
    position: absolute;
    top: -1.5em;
    right: -6em;
    content: "";
    height: 5em;
    width: 15em;
    transform: rotatez(45deg);
    background-color: #f44;
    z-index: -1;
  }
</style>
