<section class="pricing py-5" style="margin-bottom: 0">
  <div class="container">
    <div class="row egitim-row">
      <div class="col-12 text-center mb-4">
        <h2>Paketler</h2>
        <p style="color: #64748b" class="mt-3"><b>EVRAKA BULUT</b> ile siz de maliyet avantajı ve esneklik
          kazanın!&nbsp;Ayrıca EVRAKA Arşiv, EVRAKA İş Zekası, EVRAKA Şablon Yönetimi ve Veri Göçü EVRAKA ürününü
          yerinde almak isterseniz
          iletişime geçebilirsiniz.
        </p>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card h-100 mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">BULUT 2500</h5>
            <h6 class="card-price text-center">₺97.500 / yıl<span class="period"
                style="width: 100%;display: block;color: #a6a6a6;">başlangıç fiyatı</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>2500 belge oluşturma/yıl
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Belge Yönetimi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-Yazışma</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>OCR (Bilgisayar Tanıma)
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>HVL-Kripto</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-İmza</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">İletişime geç</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">Bulut 5000</h5>
            <h6 class="card-price text-center">₺142.500 / yıl<span class="period"
                style="width: 100%;display: block;color: #a6a6a6;">başlangıç fiyatı</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>5000 belge oluşturma/yıl
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Belge Yönetimi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-Yazışma</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>OCR (Bilgisayar Tanıma)
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>HVL-Kripto</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-İmza</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">İletişime geç</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">Bulut 10000</h5>
            <h6 class="card-price text-center">₺180.000 / yıl<span class="period"
                style="width: 100%;display: block;color: #a6a6a6;">başlangıç fiyatı</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>10000 belge oluşturma/yıl
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Belge Yönetimi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-Yazışma</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>OCR (Bilgisayar Tanıma)
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>HVL-Kripto</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-İmza</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">İletişime geç</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">Bulut 20000</h5>
            <h6 class="card-price text-center">₺217.500 / yıl<span class="period"
                style="width: 100%;display: block;color: #a6a6a6;">başlangıç fiyatı</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>20000 belge oluşturma/yıl
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Belge Yönetimi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-Yazışma</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>OCR (Bilgisayar Tanıma)
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>HVL-Kripto</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-İmza</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">İletişime geç</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">Bulut 30000</h5>
            <h6 class="card-price text-center">₺255.000 / yıl<span class="period"
                style="width: 100%;display: block;color: #a6a6a6;">başlangıç fiyatı</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>30000 belge oluşturma/yıl
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Belge Yönetimi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-Yazışma</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>OCR (Bilgisayar Tanıma)
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>HVL-Kripto</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-İmza</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">İletişime geç</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-uppercase text-center">Bulut 40000</h5>
            <h6 class="card-price text-center">₺300.000 / yıl<span class="period"
                style="width: 100%;display: block;color: #a6a6a6;">başlangıç fiyatı</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>40000 belge oluşturma/yıl
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>Belge Yönetimi</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-Yazışma</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>OCR (Bilgisayar Tanıma)
              </li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>HVL-Kripto</li>
              <li><span class="fa-li" style="color: green;"><i class="fas fa-check"></i></span>E-İmza</li>
            </ul>
            <div class="d-grid">
              <a href="#" class="btn btn-primary btn-color-low text-uppercase w-100 mt-4" data-toggle="modal"
                data-target="#modalCenter">İletişime geç</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLongTitle">EVRAKA EBYS Satış Formu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <style>
          .form-group>label {
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            color: rgba(0, 0, 0, 0.7);
          }

          .form-control {
            border-bottom: 2px rgba(0, 0, 0, 0.2) solid;
          }
        </style>
        <div id="uyari"></div>
        <form id="contact" action method="post">
          <div class="form-group">
            <label for="kurum-adi">Kurum Adı</label>
            <input name="kurum-adi" type="text" class="form-control" id="kurum-adi">
          </div>
          <div class="form-group">
            <label for="name">İletişim kurulacak kişinin adı ve soyadı</label>
            <input name="name" type="text" class="form-control" id="name">
          </div>
          <div class="form-group">
            <label for="email">E-posta adresi</label>
            <input name="email" type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="telefon">Telefon</label>
            <input name="telefon" type="text" class="form-control" id="telefon">
          </div>
          <div class="form-group">
            <label for="talep">Talebiniz</label>
            <textarea class="form-control" id="talep" name="talep" rows="3"></textarea>
          </div>
          <small>
            Bu iletişim formu reCAPTCHA from Google ile korunmaktadır.<br>
            <a href="https://policies.google.com/privacy">Gizlilik Politikası</a>
            <a href="https://policies.google.com/terms">Hizmet Koşulları</a></small> <br> <br>
          <button type="submit" id="contactButton" class="btn btn-primary">Gönder</button>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  section.pricing .card {
    overflow: hidden;
  }

  .ribbon {
    position: absolute;
    display: inline-block;
    top: 0.3em;
    right: 0.8em;
    max-width: 5em;
    color: #fff;
    z-index: 1;
  }

  .ribbon::after {
    position: absolute;
    top: -1.5em;
    right: -6em;
    content: "";
    height: 5em;
    width: 15em;
    transform: rotatez(45deg);
    background-color: #f44;
    z-index: -1;
  }
</style>