<section id="references">
    <div class="container">
        <div class="row">
            <div class="col-12 my-5">
                <h2 class="mb-5 text-center">Referanslarımız</h2>
                <div class="ref-slider owl-carousel owl-theme">
                    <div class="item"><img src="/images/refs/2.jpg" alt="EVRAKA EBYS"></div>
                    <div class="item"><img src="/images/refs/3.jpg" alt="EVRAKA EBYS"></div>
                    <div class="item"><img src="/images/refs/4.jpg" alt="EVRAKA EBYS"></div>
                    <div class="item"><img src="/images/refs/5.jpg" alt="EVRAKA EBYS"></div>
                    <div class="item"><img src="/images/refs/6.jpg" alt="EVRAKA EBYS"></div>
                    <div class="item"><img src="/images/refs/7.jpg" alt="EVRAKA EBYS"></div>
                    <div class="item"><img src="/images/refs/8.jpg" alt="EVRAKA EBYS"></div>
                    <div class="item"><img src="/images/refs/9.jpg" alt="EVRAKA EBYS"></div>
                    <div class="item"><img src="/images/refs/10.jpg" alt="EVRAKA EBYS"></div>
                    <div class="item"><img src="/images/refs/11.jpg" alt="EVRAKA EBYS"></div>
                    <div class="item"><img src="/images/refs/12.jpg" alt="EVRAKA EBYS"></div>
                </div>
            </div>
        </div>
    </div>
</section>