<script
  src="/scripts/aciklab.bundle.js"
></script>
<script
  src="/scripts/aciklab.js"
></script>

{{ if or (eq .Params.title "Demo Talebi & İletişim") (eq .Params.title "Paketler") (.IsHome) }}
<style>
  .grecaptcha-badge { visibility: hidden; }
</style>
<script src="https://www.google.com/recaptcha/api.js?render=6Ld5f04fAAAAAOSGuJjLNvquRpDnyqVVQXB4zGoZ"></script>
<script>
$('#contact').on('submit', function (e) {
  e.preventDefault();
  e.stopImmediatePropagation();
  e.stopPropagation();
  grecaptcha.ready(function() {
      grecaptcha.execute('6Ld5f04fAAAAAOSGuJjLNvquRpDnyqVVQXB4zGoZ', {action: 'subscribe_newsletter'}).then(function(token) {
          $('#contact').prepend('<input type="hidden" name="token" value="' + token + '">');
          $('#contact').prepend('<input type="hidden" name="action" value="subscribe_newsletter">');
          $.ajax({
            type: "POST",
            url: "https://ws.aciklab.org/evrakacontact",
            data: $('#contact').serialize(),
            success: function (data) {
                $('#contact')[0].reset();
                $("#uyari").html(`<div class="alert alert-success" role="alert">
                  ${data}
                </div>`);
            },
            error: function(data) {
              $('#contact')[0].reset();
              $("#uyari").html(`<div class="alert alert-danger" role="alert">
                ${data.responseText}
              </div>`);
            }
        });
      });
  });
});
</script>
{{ end }}